.card-planning {
  // position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #155EA2;
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;

}

.card-planning-text {
  position: absolute;
  left: 40px;
  margin-top: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: white;
}

.image_bg{
  width: 100%;
  height: 221px;
}

h1{
  text-align: center;
  color: #155EA2;
  font-size: 20px;
  padding: 15px;

}
