.toxic-card {
  width: 345px;
  height: 108px;
  margin-top: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background: $color_blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
  &:hover { text-decoration: none; color: #101010;}
  &:focus { text-decoration: none; color: #101010;}
  &:active { text-decoration: none; color: #101010;}
  &:visited { text-decoration: none; color: #101010;}
}

.toxic-name {
  line-height: 108px;
  font-size: 32px;
  width: 200px;
  height: 100%;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 2mm ridge $color_yellow;
}

.toxic-tq {
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: 20px;
}

.toxic-ct {
  height: 30px;
  width: 35px;
  position: absolute;
  top: 0px;
  right: 60px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  z-index: 1;
}

.withdraw-btns {
  height: 100%;
  width: 145px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#minus-btn {
  display: inline-block;
  margin: 5px;
  margin-top: 30px;
  color: $color_yellow;
}

#plus-btn {
  display: inline-block;
  margin: 5px;
  color: $color_yellow;
}

.disable {
  z-index: 0;
}

.enable {
  z-index: 1;
}
