.toxic-card {
  width: 345px;
  height: 96px;
  margin-top: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background: #61A2DE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  text-decoration: none;
  color: white;
  text-align: center;
  position: relative;
}

.toxic-name {
  line-height: 64px;
  font-size: 21px;
  width: 200px;
  height: 100%;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.toxic-tq {
  position: absolute;
  top: 31px;
  left: 15px;
  font-size: 15px;
}

.toxic-ct {
  height: 30px;
  width: 35px;
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 1;
}

.withdraw-btns {
  height: 100%;
  width: 145px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.minus-btn {
  display: inline-block;
  margin: 5px;
  margin-top: 30px;
  border-radius: 5px;
}

.invisible_plus {
  display: inline-block;
  position: absolute;
  border: none;
  width: 55px;
  height: 55px;
  right: 5px;
  z-index: 5;
  margin: 5px;
  margin-top: 30px;
  color: $color_blue;
  background-color: $color_blue;
}

.invisible_minus {
  display: inline-block;
  position: absolute;
  border: none;
  width: 55px;
  height: 55px;
  right: 75px;
  z-index: 5;
  margin: 5px;
  margin-top: 30px;
  color: $color_blue;
  background-color: $color_blue;
}

// #plus-btn {
//   display: inline-block;
//   margin: 5px;
//   color: $color_yellow;
// }

.disable {
  z-index: 0;
}

.enable {
  z-index: 1;
}

.scan-btn {
      line-height: 50px;
    padding: 10px;
    width: 90px;
    border-radius: 5px;
    background-color: #2f87d9;
    box-shadow: -3px 3px 5px black;
    position: absolute;
    color: white;
    padding-left: 25px;
    padding-right: 5px;
    left: 146px;
    bottom: 214px;
    z-index: 3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  &:hover { text-decoration: none; color: #ffffff;}
  &:focus { text-decoration: none; color: #ffffff;}
  &:active { text-decoration: none; color: #ffffff;}
  &:visited { text-decoration: none; color: #ffffff;}
}


.confirmation-withdraw {
  margin: 20px;
  font-size: 24px;
}
