.greetings{
  background-color: rgba(0, 126, 126, 0.219);
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.show-package {
  display: flex;
  align-items: center;
  justify-content: center;
}
