.card_service_day {
    background: #61A2DE;
    position: relative;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: #2F87D9;
    h1,
    h2,
    h3 {
      font-family: Poppins, sans-serif;
      color: white;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 20px;
    }

  }
.accordion {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;

  .card {

    border-radius: 5px !important;
    border: 1px solid #f0efef;
  }
}

.title {
  h1 {
    font-size: 32px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;

  }
}


.card-body {
  font-size: 18px !important;
}
