<div class="container">
  <h3> Mes Missions à venirs </h3>
</div>

<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="date">25 Août 2021</li>
      </ul>
    </div>

    <div class="description">
      <h1>Le 25 Août 2021</h1>
      <h2> Service d'Orthopédie 6A2</h2>
    </div>
  </div>

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="date">27 Août 2021</li>
      </ul>
    </div>

    <div class="description">
      <h1>Le 27 Août 2021</h1>
      <h2> Service de Réanimation 4A2</h2>
    </div>
  </div>

<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="date">28 Août 2021</li>
      </ul>
    </div>

    <div class="description">
      <h1>Le 28 Août 2021</h1>
      <h2> Service de Pédiatrie 11A2</h2>
    </div>
  </div>
<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="date">29 Août 2021</li>
      </ul>
    </div>

    <div class="description">
      <h1>Le 29 Août 2021</h1>
      <h2> Service d'Urologie 4A2</h2>
    </div>
  </div>

<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="date">30 Août 2021</li>
      </ul>
    </div>

    <div class="description">
      <h1>Le 30 Août 2021</h1>
      <h2> Service d'Orthopédie 6A2</h2>
    </div>
  </div>

</div>
