<div class="container">
  <h3> Mes Missions à venirs </h3>
</div>

<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>

    </div>

    <div class="description">
      <h1>Le 25 Août 2021</h1>
      <h2> Service d'Orthopédie 6A2</h2>
    </div>
  </div>

</div>
