<div class="container">
  <h3> Mes Missions</h3>

  <% @bookings.each do |booking| %>
    <%= link_to service_path(booking.mission.service), class: "blog-card" do %>
        <div class="meta">
          <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        </div>
        <div class="description">
          <h1>Le <%= booking.mission.date %></h1>
          <h2> Service : <%= booking.mission.service.name %></h2>
        </div>
        <div>
          <%= link_to booking_path(booking),
            method: :delete,
            data: { confirm: "Êtes-vous sûr ?" } do %>
            <i class="fas fa-trash" id="delete"></i>
          <% end %>
        </div>
    <% end %>
  <% end %>
