<div class="container">
<%= image_tag "medical.png", class:"img_bg"%>
  <div class="blog-card">
    <%= link_to "Mes disponibilités", availabilities_path,  class: "description"  %>
  </div>

  <div class="blog-card">
    <%= link_to "Mes Missions", bookings_path, class: "description" %>
  </div>

  <div class="blog-card">
    <%= link_to "Missions disponibles", "missions", class: "description" %>
  </div>

</div>
