<div class="container">
  <% render html: 'navbar' %>

  <%= link_to "Dispo", availabilities_path,  class: "availabilities_home_btn"  %>
  <%= link_to "Mes missions", "bookings", class: "home-btns home-btns-a" %>
  <%= link_to "Missions disponibles", "missions", class: "home-btns home-btns-b" %>
  <%= image_tag "Planeed_logo.jpg", class: "home-btns home-btns-d"%>

</div>
