<div class="container">
  <div class="confirmation-withdraw">
    <p>Souhaitez vous retirer ce produit ?</p>
    <p>- <%= @toxic.name %></p>
  </div>
  <%= link_to "confirmer", toxic_withdraws_path(@toxic), class: "confirmation-scan-btn", method: :post %>
</div>
