<div class="footer">
  <div class="footer-links">
    <a href=<%= root_path %>><i class="fas fa-home"></i></a>
    <a href=<%= missions_path %>><i class="fas fa-book-medical"></i></a>
    <a href=<%=  %>><i class="fas fa-comment-dots"></i></a>
    <a href=<%= edit_user_registration_path %>><i class="fas fa-user-md"></i></a>
  </div>
</div>
