.availabilities_home_btn {
  position: absolute;
  width: 327px;
  height: 172px;
  left: 27px;
  top: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background-color: rgb(90, 149, 1);
  font-size: 48px;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 172px;
  &:hover { text-decoration: none; color: #101010;}
  &:focus { text-decoration: none; color: #101010;}
  &:active { text-decoration: none; color: #101010;}
  &:visited { text-decoration: none; color: #101010;}
}
