.btn_confirm {
    background: #61A2DE;
    position: relative;
    height: 40px;
    width: 100px;
    border-radius: 1px;
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    left: 190px;
    top: 18px;
  h4 {
    font-size: 18px;
  }
}

.confirmation-scan-btn {
    background: #61A2DE;
    position: absolute;
    height: 50px;
    width: 100px;
    border-radius: 1px;
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    right: 130px;
    top: 500px;
}
