.home-btns {
  width: 285px;
  height: 108px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background: #2994C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 108px;
  &:hover { text-decoration: none; color: #101010;}
  &:focus { text-decoration: none; color: #101010;}
  &:active { text-decoration: none; color: #101010;}
  &:visited { text-decoration: none; color: #101010;}
}

.home-btns-a {
  position: absolute;
  left: 45px;
  top: 293px;
}

.home-btns-b {
  position: absolute;
  left: 45px;
  top: 422px;
}

.home-btns-c {
  position: absolute;
  left: 45px;
  top: 551px;
}

.home-btns-d {
  position: absolute;
  left: 45px;
  top: 680px;
}
