.navbar-lewagon {
  justify-content: space-between;
  background: #1A73C7;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 112px;
  height: 56px;
}

.navbar-logo {
  height: 100%;
  width: 100px;
}
