<div class="container">
  <p>Bonjour <%= @resource.email %>!</p>

  <p>Compte bloqué. Raison : trop de tentative de connection</p>

  <p>Cliquez sur le lien ci-dessous pour déverrouiller votre compte:</p>

  <p><%= link_to 'Déverrouiller', unlock_url(@resource, unlock_token: @token) %></p>
</div>
