
<%= image_tag "planning.png", class:"img_bg"%>
<div class="container">
  <h1> Mon Planning </h1>
  <% (0..6).each do |av| %>
    <a href=<%= missions_path %> id="a_availabilities">
      <div class="card-planning">
        <div class="card-planning-text">
          <p class='day'></p>
    </a>
         </div>
        <div>
          <label class="switch">
            <input type="checkbox" id="checkbox" data-id="<%= @availability.id %>">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
  <% end %>
</div>
