<%= image_tag "planning.png", class:"img_bg"%>
<div class="container">
<h1> Mon Planning </h1>
</div>
<% (0..6).each do |av| %>
  <a href=<%= missions_path %> >
    <div class="card-planning mx-2">
      <div class="card-planning-text">
        <p class='day'></p>
      </div>
      <div>
        <label class="switch">
          <input type="checkbox" id="checkbox" data-id="<%= @availability.id %>">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </a>
<% end %>
